/* General Footer Styling */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
 /*  padding: 20px; */
  color: #333;
}

.footerContainer {
    display: flex;
    width: 100%;
  
    flex-wrap: wrap;
    flex-direction: column;
}

@media (min-width: 798px) {
    .footerContainer {
        flex-direction: row;
    }
}


/* Customer Service Section */
.memberService {
  flex: 1;
  background-color: #3a5083;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  
}

.service {
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "Square Peg", serif;
  font-weight: 400;
  font-size: 48px;
}

.iconFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.iconFooter a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 10px;
  font-size: 1rem;
}

.iconFooter a:hover {
  text-decoration: underline;
}

/* Icon Styling */
.iconFooter img {
  width: 20px;
  height: 20px;
}


.socialIcon {
  color: #ffffff;
  margin: 3px;
  font-size: 50px;
}

.follow {
  margin-top: 15px;
   font-family: "Quicksand", serif;
   font-style: normal;
   color: #ffffff;
   font-weight: 200;
   font-size: 24px;
   margin-bottom: 10px;
}